fastapi
uvicorn
python-multipart
faster-whisper
opencv-python
transformers
torch
ffmpeg-python
pydub
python-dotenv


python-multipart==0.0.6

speechrecognition==3.8.1
SpeechRencongition==3.8.1
pydub==0.25.1
python-form-data==0.0.3